:root {
    --main_bg_color: #f8d603;
    --sec_color_blue: #30163d;
    --sec_color_pink: #eb2860;
    --sec_color_grey: #222222;  
    --color_white: #fff;
    --wrapper_width: 1400px;
    --wrapper_content_width: 1160px;
    --fz_sm: 18px;
    --fz_sub_title: 30px;
    --fz_title: 36px;
}